# requirements.txt
fastapi==0.115.0
uvicorn==0.31.0
python-barcode==0.15.1
# Pillow==10.4.0
starlette>=0.37.2
Pillow-SIMD==9.5.0.post2
fastapi-limiter==0.1.6
redis[hiredis]==5.1.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic==2.9.2
pydantic-settings==2.5.2
SQLAlchemy[asyncio]==2.0.35
psycopg2-binary==2.9.9
asyncpg==0.29.0
alembic==1.13.3
python-multipart==0.0.12
pytz==2024.2
aiohttp==3.10.9