DB_PASSWORD=__DB_PASSWORD__
POSTGRES_PASSWORD=__POSTGRES_PASSWORD__
SECRET_KEY=__API_SECRET_KEY__
MASTER_API_KEY=__API_MASTER_KEY__
API_VERSION=__API_VERSION__
DATABASE_URL=postgresql+asyncpg://barcodeboachiefamily:__DB_PASSWORD__@db/barcode_api
REDIS_URL=redis://redis:6379
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENVIRONMENT=__ENVIRONMENT__
