# Frontend .env template for Docker deployment
# Use ${VAR} syntax for all variables to allow envsubst substitution

NEXT_PUBLIC_ENVIRONMENT=${ENVIRONMENT}
NEXT_PUBLIC_PROJECT_VERSION=${PROJECT_VERSION}
